<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>simpleSAMLphp Management</title>
    <link href="ext/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="ext/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">

        <h1>simpleSAMLphp Management</h1>
        <p class="lead">This application makes it possible to manage simpleSAMLphp's metadata registrations.</p>

        <ul class="nav nav-pills">
            <li>
                <a href="#" id="listIdPs">Identity Providers</a>
            </li>
            <li>
                <a href="#" id="listSPs">Service Providers</a>
            </li>
        </ul>

        <div id="metadataList">
            <div id="metadataListTable">
            </div>
        </div>

        <div id="entityView">
            <div id="entityViewModal" tabindex="-1" class="modal hide">
            </div>
        </div>

    </div> <!-- /container -->

    <script id="metadataListTemplate" type="text/x-jsrender">
        <form class="form-search">
            <div class="input-append">
                <input id="searchTerm" type="text" class="span2 search-query">
                <button id="searchButton" data-set="{{>set}}" type="submit" class="btn">Search</button>
            </div>
        </form>

        <table class="table table-striped table-bordered">
        	<tbody>
            {{for entry ~set=set}}
                <tr>
                    <td colspan="2">
                        {{if name}}
                            <a href="#" data-set="{{>~set}}" data-id="{{>entityid}}" title="{{>entityid}}">{{>name}}</a>
                        {{else}}
                            <a href="#" data-set="{{>~set}}" data-id="{{>entityid}}" title="{{>entityid}}">{{>entityid}}</a>
                        {{/if}}
                        {{if entityid}}
                            <small class="muted">{{>entityid}}</small>
                        {{/if}}
                    </td>
                </tr>
            {{/for}}
            </tbody>
        </table>
    </script>

    <script id="entityViewIdentityProviderModalTemplate" type="text/x-jsrender">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <ul class="entitynav nav nav-pills">
                <li class="active">
                    <a href="#" id="basicButton" data-id="{{>id}}" data-set="{{>set}}" title="Basic Configuration Options">Basic</a>
                </li>

                <li>
                    <a href="#" id="aclButton" data-id="{{>id}}" data-set="{{>set}}" title="Access Control List">ACL</a>
                </li>

                <li>
                    <a href="#" id="advancedButton" data-id="{{>id}}" data-set="{{>set}}" title="Advanced Configuration">Advanced</a>
                </li>
            </ul>
        </div>
        <div class="modal-body">
            <form id="basicForm">
                <fieldset>
                <!-- <legend>Basic</legend> -->
                    <div class="control-group">
                        <label class="control-label" for="form_name"><strong>Name</strong></label>
                        <div class="controls">
                            <input type="text" id="form_name" class="input-block-level" name="name" value="{{>entry.name}}" placeholder="Name...">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="form_entityId"><strong>Entity ID</strong></label>
                        <div class="controls">
                            <input type="text" id="form_entityId" class="input-block-level" name="entityid" value="{{>entry.entityid}}" placeholder="Entity ID...">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="form_SingleSignOnService"><strong>Single Signon Service (SSO)</strong></label>
                        <div class="controls">
                            <input type="text" id="form_SingleSignOnService" class="input-block-level" name="SingleSignOnService" value="{{>entry.SingleSignOnService}}" placeholder="SingleSignOnService...">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="form_SingleLogoutService"><strong>Single Logout Service (SLO)</strong></label>
                        <div class="controls">
                            <input type="text" id="form_SingleLogoutService" class="input-block-level" name="entityid" value="{{>entry.SingleLogoutService}}" placeholder="SingleLogoutService...">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="form_certFingerprint"><strong>Certificate Fingerprint</strong></label>
                        <div class="controls">
                            <input type="text" id="form_certFingerprint" class="input-block-level" name="certFingerprint" value="{{>entry.certFingerprint}}" placeholder="certFingerprint...">
                        </div>
                    </div>
                </fieldset>

            </form>

            <form id="aclForm" class="hide">
                <fieldset>
                <!-- <legend>ACL</legend> -->
                    {{for entry.serviceProviders}}
                        <label class="checkbox">
                        <input type="checkbox" name="enableSP[]" value="{{>entityid}}">
                        {{if name}}
                            <span title="{{>entityid}}">{{>name}}</span>
                        {{else}}
                            <span title="{{>entityid}}">{{>entityid}}</span>
                        {{/if}}
                        </label>
                    {{/for}}
                </fieldset>
            </form>

            <form id="advancedForm" class="hide">
                <fieldset>
                <!-- <legend>ACL</legend> -->
                    <textarea class="input-block-level" rows="10" name="jsonData">{{>entry.jsonData}}</textarea>
                </fieldset>
            </form>

        </div>

        <div class="modal-footer">
            <a href="#" class="btn" data-toggle="modal" data-target="#entityViewModal">Close</a>
        </div>
    </script>

    <script id="entityViewServiceProviderModalTemplate" type="text/x-jsrender">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <ul class="entitynav nav nav-pills">
                <li class="active">
                    <a href="#" id="basicButton" data-id="{{>id}}" data-set="{{>set}}" title="Basic Configuration Options">Basic</a>
                </li>

                <li>
                    <a href="#" id="aclButton" data-id="{{>id}}" data-set="{{>set}}" title="Access Control List">ACL</a>
                </li>

                <li>
                    <a href="#" id="arpButton" data-id="{{>id}}" data-set="{{>set}}" title="Attribute Release Policy">Attributes</a>
                </li>

                <li>
                    <a href="#" id="advancedButton" data-id="{{>id}}" data-set="{{>set}}" title="Advanced Configuration">Advanced</a>
                </li>
            </ul>
        </div>
        <div class="modal-body">
            <form id="basicForm">
                 <div class="control-group">
                    <label class="control-label" for="form_name"><strong>Name</strong></label>
                    <div class="controls">
                        <input type="text" id="form_name" class="input-block-level" name="name" value="{{>entry.name}}" placeholder="Name...">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="form_entityId"><strong>Entity ID</strong></label>
                    <div class="controls">
                        <input type="text" id="form_entityId" class="input-block-level" name="entityid" value="{{>entry.entityid}}" placeholder="Entity ID...">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="form_AssertionConsumerService"><strong>AssertionConsumerService</strong></label>
                    <div class="controls">
                        <input type="text" id="form_AssertionConsumerService" class="input-block-level" name="AssertionConsumerService" value="{{>entry.AssertionConsumerService.Location}}" placeholder="AssertionConsumerService...">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="form_NameIDFormat"><strong>NameIDFormat</strong></label>
                    <div class="controls">
                        <select id="form_NameIDFormat" class="input-block-level" name="NameIDFormat">
                        {{for entry.nameIDs}}
                            {{if enabled}}
                                <option value="{{>nameid}}" selected="selected">{{>nameid}}</option>
                            {{else}}
                                <option value="{{>nameid}}">{{>nameid}}</option>
                            {{/if}}
                        {{/for}}
                        </select>
                    </div>
                </div>

            </form>

            <form id="aclForm" class="hide">
                <fieldset>
                <!-- <legend>ACL</legend> -->
                    {{for entry.identityProviders}}
                        <label class="checkbox">
                        {{if enabled}}
                            <input type="checkbox" name="enableIdP[]" checked="checked" value="{{>entityid}}">
                        {{else}}
                            <input type="checkbox" name="enableIdP[]" value="{{>entityid}}">
                        {{/if}}
                        {{if name}}
                            <span title="{{>entityid}}">{{>name}}</span>
                        {{else}}
                            <span title="{{>entityid}}">{{>entityid}}</span>
                        {{/if}}
                        </label>
                    {{/for}}
                </fieldset>
            </form>

            <form id="arpForm" class="hide">
                <fieldset>
                <!-- <legend>ARP</legend> -->
                    {{for entry.attributeList}}
                        <label class="checkbox">
                        {{if enabled}}
                            <input type="checkbox" name="enableAttribute[]" checked="checked" value="{{>attribute}}">
                        {{else}}
                            <input type="checkbox" name="enableAttribute[]" value="{{>attribute}}">
                        {{/if}}

                        {{if enabled && custom}}
                            <span class="text-error" title="{{>attribute}}">{{>attribute}}</span>
                        {{else enabled}}
                            <span class="text-info" title="{{>attribute}}">{{>attribute}}</span>
                        {{else}}
                            <span title="{{>attribute}}">{{>attribute}}</span>
                        {{/if}}
                        </label>
                    {{/for}}
                </fieldset>
            </form>

            <form id="advancedForm" class="hide">
                <fieldset>
                <!-- <legend>ACL</legend> -->
                    <textarea class="input-block-level" rows="10" name="jsonData">{{>entry.jsonData}}</textarea>
                </fieldset>
            </form>

        </div>

        <div class="modal-footer">
            <a href="#" class="btn" data-toggle="modal" data-target="#entityViewModal">Close</a>
        </div>
    </script>

    <script src="ext/js/jquery.js"></script>
    <script src="ext/js/jsrender.js"></script>
    <script src="ext/js/jso.js"></script>
    <script src="ext/bootstrap/js/bootstrap.min.js"></script>
    <script src="config/config.js"></script>
    <script src="js/ssp.js"></script>

  </body>
</html>
