<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>SAML Configuration</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    textarea { font-family: monospace; font-size: small; }
    img { border: 1px dotted #ccc; }
    </style>
</head>

<body>
    <div class="container">

        <h1>SAML Configuration</h1>

        <p class="lead">This is a <strong><em>read-only</em></strong> configuration viewer. <strong>Nothing</strong> you do here will have any effect.</p>

        <div id="errorLog">
        </div>

        <ul class="nav nav-pills">
            <li class="active">
                <a href="#" id="listIdPs">Identity Providers</a>
            </li>
            <li>
                <a href="#" id="listSPs">Service Providers</a>
            </li>
        </ul>

        <div id="metadataList">
            <div id="metadataListTable">
            </div>
        </div>

        <div id="entityView">
            <div id="entityViewModal" tabindex="-1" class="modal hide">
            </div>
        </div>

    </div> <!-- /container -->

    <script id="errorLogTemplate" type="text/x-jsrender">
        <h2>Error Log</h2>
        <table class="table table-striped table-bordered">
        {{for errorLog}}
            <tr><td>{{>type}}</td><td><a target="_blank" href="https://serviceregistry.surfconext.nl/simplesaml/module.php/janus/editentity.php?eid={{>eid}}"><span title="{{>entityid}}">{{>name}}</span></a></td><td><span class="text-error">{{>message}}</span></td>
            <td><button class="btn btn-primary" type="button" data-toggle="modal" data-target="#md{{:#getIndex()}}">Show Metadata</button></td></tr>
                <div id="md{{:#getIndex()}}" class="modal hide fade">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Metadata</h3>
                </div>
                <div class="modal-body">
                <p>This is an export of metadata obtained from the service.</p>
                <p><pre>{{:md}}</pre></p>
                </div>
                </div>
                
            </tr>
        {{/for}}
        </table>
    </script>

    <script id="metadataListTemplate" type="text/x-jsrender">
        <table class="table table-striped table-bordered">
        	<tbody>
            {{for entry ~set=set ~logs=logs}}
                <tr>
                    <td colspan="2">
                        {{if ~logs[~set][entityid]}}
                            <i class="icon-warning-sign" title="Log Entries Available in Log Tab"></i>
                        {{/if}}
                        {{if name && name.en}}
			                {{if state === "prodaccepted"}}
	                            <a href="#" data-set="{{>~set}}" data-id="{{:#getIndex()}}" title="{{>entityid}}">{{:#index}} {{>name.en}}</a>
			                {{else}}
                                <a href="#" data-set="{{>~set}}" data-id="{{:#getIndex()}}" title="{{>entityid}}" class="muted">{{>name.en}}</a>	
			                {{/if}}
                        {{else}}
                            {{if state === "prodaccepted"}}
	                            <a href="#" data-set="{{>~set}}" data-id="{{:#getIndex()}}" title="{{>entityid}}">{{>entityid}}</a>
            			    {{else}}
                                <a href="#" data-set="{{>~set}}" data-id="{{:#getIndex()}}" title="{{>entityid}}" class="muted">{{>entityid}}</a>
		            	    {{/if}}
                        {{/if}}
                        <small class="muted">{{>entityid}}</small>
                    </td>
                </tr>
            {{/for}}
            </tbody>
        </table>
    </script>

    <script id="entityViewIdentityProviderModalTemplate" type="text/x-jsrender">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <ul class="entitynav nav nav-pills">
                <li class="active">
                    <a href="#" id="basicButton" data-id="{{attr:id}}" data-set="{{>set}}" title="Basic Configuration Options">Basic</a>
                </li>
                <li>
                    <a href="#" id="samlButton" data-id="{{attr:id}}" data-set="{{>set}}" title="SAML Configuration Options">SAML</a>
                </li>
                <li>
                    <a href="#" id="aclButton" data-id="{{attr:id}}" data-set="{{>set}}" title="Allowed Service Providers">Allowed SPs</a>
                </li>
                <li>
                    <a href="#" id="conextButton" data-id="{{attr:id}}" data-set="{{>set}}" title="OpenConext">OpenConext</a>
                </li>
                <li>
                    <a href="#" id="advancedButton" data-id="{{attr:id}}" data-set="{{>set}}" title="Advanced Configuration">Advanced</a>
                </li>
                <li>
                    <a href="#" id="logButton" data-id="{{attr:id}}" data-set="{{>set}}" title="Logging">Log</a>
                </li>
            </ul>
        </div>
        <div class="modal-body">
            <form id="basicForm" class="entryForm">
                <fieldset>
                <!-- <legend>Basic</legend> -->
                    <div class="control-group">
                        <label class="control-label" for="form_name"><strong>Name</strong></label>
                        <div class="controls">
                            {{if entry.name && entry.name.en}}
                                <input type="text" id="form_name" class="input-block-level" name="name" value="{{>entry.name.en}}" placeholder="Name...">
                            {{else}}
                                <input type="text" id="form_name" class="input-block-level" name="name" placeholder="Name...">
                            {{/if}}
                        </div>
                    </div>
                </fieldset>
                {{if entry.UIInfo && entry.UIInfo.Logo && entry.UIInfo.Logo}}
                    <img src="{{>entry.UIInfo.Logo[0].url}}" width="{{>entry.UIInfo.Logo[0].width}}" height="{{>entry.UIInfo.Logo[0].height}}">
                {{/if}}
            </form>
            <form id="samlForm" class="entryForm hide">
                <fieldset>
                <!-- <legend>SAML</legend> -->

                    <div class="control-group">
                        <label class="control-label" for="form_entityId"><strong>Entity ID</strong></label>
                        <div class="controls">
                            <input type="text" id="form_entityId" class="input-block-level" name="entityid" value="{{>entry.entityid}}" placeholder="Entity ID...">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="form_SingleSignOnService"><strong>Single Signon Service (SSO)</strong></label>
                        <div class="controls">
                            <input type="text" id="form_SingleSignOnService" class="input-block-level" name="SingleSignOnService" value="{{>entry.SingleSignOnService}}" placeholder="SingleSignOnService...">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="form_SingleLogoutService"><strong>Single Logout Service (SLO)</strong></label>
                        <div class="controls">
                            <input type="text" id="form_SingleLogoutService" class="input-block-level" name="entityid" value="{{>entry.SingleLogoutService}}" placeholder="SingleLogoutService...">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="form_certFingerprint"><strong>Certificate Fingerprint</strong></label>
                        <div class="controls">
                            <input type="text" id="form_certFingerprint" class="input-block-level" name="certFingerprint" value="{{>entry.certFingerprint}}" placeholder="certFingerprint...">
                        </div>
                    </div>
                </fieldset>

            </form>

            <form id="aclForm" class="entryForm hide">
            <p class="text-success">Select the available services for this identity provider.</p>
                <fieldset>
                <!-- <legend>ACL</legend> -->

                    {{for entry.serviceProviders}}
                        <label class="checkbox">
                        {{if consentdisable}}
                            <i alt="consent disabled" title="consent disabled" class="icon-user"></i>
                        {{/if}}
                        {{if enabled}}
                            <input type="checkbox" name="enableSP[]" checked="checked" value="{{>entityid}}">
                        {{else}}
                            <input type="checkbox" name="enableSP[]" value="{{>entityid}}">
                        {{/if}}
                        {{if name && name.en}}
			                {{if state === "prodaccepted"}}
                                <span title="{{>entityid}}">{{>name.en}}<br></span>
                            {{else}}
                                <span class="muted" title="{{>entityid}}">{{>name.en}}<br></span>
                            {{/if}}
                        {{else}}
			                {{if state === "prodaccepted"}}
                                <span title="{{>entityid}}">{{>entityid}}<br></span>
                            {{else}}
                                <span class="muted" title="{{>entityid}}">{{>entityid}}<br></span>
                            {{/if}}
                        {{/if}}
                        </label>
                    {{/for}}
                </fieldset>
            </form>

            <form id="conextForm" class="entryForm hide">
                <fieldset>
                 <div class="control-group">
                    <label class="checkbox">
                        {{if entry.coin && entry.coin.disable_scoping}}
                            <input type="checkbox" name="disableScoping" checked="checked">
                        {{else}}
                            <input type="checkbox" name="disableScoping">                        
                        {{/if}}                    
                        <span>Disable Scoping</span>
                    </label>

                    <label class="checkbox">
                        {{if entry.coin && entry.coin.additional_logging}}
                            <input type="checkbox" name="additionalLogging" checked="checked">
                        {{else}}
                            <input type="checkbox" name="additionalLogging">                        
                        {{/if}}                    
                        <span>Additional Logging</span>
                    </label>
                    
                    <label class="checkbox">
                        {{if entry.coin && entry.coin.publish_in_edugain}}
                            <input type="checkbox" name="publishInEdugain" checked="checked">
                        {{else}}
                            <input type="checkbox" name="publishInEdugain">                        
                        {{/if}}                    
                        <span>Publish in eduGAIN</span>
                    </label>
                 </div>

                    <div class="control-group">
                        <label class="control-label" for="form_SingleSignOnService"><strong>Guest Qualifier</strong></label>
                        <div class="controls">
                            <select name="guestQualifier">
                                {{if entry.coin && entry.coin.guest_qualifier}}
                                        <option value="{{>entry.coin.guest_qualifier}}">{{>entry.coin.guest_qualifier}}</option>                                              
                                {{/if}}
                            </select>
                        </div>
                    </div>
                      
                </fieldset>            
            </form>
            
            <form id="advancedForm" class="entryForm hide">
                <fieldset>
                <!-- <legend>ACL</legend> -->
                    <textarea class="input-block-level" rows="10" id="jsonData" name="jsonData">{{>entry.jsonData}}</textarea>
                </fieldset>
            </form>

            <form id="logForm" class="entryForm hide">
                <ul>
                {{for logs.messages}}
                    <li>{{>level}}: {{>message}}</li>
                {{/for}}                    
                </ul>
            </form>

        </div>

        <div class="modal-footer">
            <a href="#" class="btn" data-toggle="modal" data-target="#entityViewModal">Close</a>
        </div>
    </script>

    <script id="entityViewServiceProviderModalTemplate" type="text/x-jsrender">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <ul class="entitynav nav nav-pills">
                <li class="active">
                    <a href="#" id="basicButton" data-id="{{attr:id}}" data-set="{{>set}}" title="Basic Configuration Options">Basic</a>
                </li>
                <li>
                    <a href="#" id="samlButton" data-id="{{attr:id}}" data-set="{{>set}}" title="SAML Configuration Options">SAML</a>
                </li>
                <li>
                    <a href="#" id="aclButton" data-id="{{attr:id}}" data-set="{{>set}}" title="Allowed Identity Providers">Allowed IdPs</a>
                </li>
                <li>
                    <a href="#" id="arpButton" data-id="{{attr:id}}" data-set="{{>set}}" title="Attributes">Attributes</a>
                </li>
                <li>
                    <a href="#" id="conextButton" data-id="{{attr:id}}" data-set="{{>set}}" title="OpenConext">OpenConext</a>
                </li>
                <li>
                    <a href="#" id="advancedButton" data-id="{{attr:id}}" data-set="{{>set}}" title="Advanced Configuration">Advanced</a>
                </li>
                <li>
                    <a href="#" id="logButton" data-id="{{attr:id}}" data-set="{{>set}}" title="Logging">Log</a>
                </li>
            </ul>
        </div>
        <div class="modal-body">
            <form id="basicForm" class="entryForm">
                 <div class="control-group">
                    <label class="control-label" for="form_name"><strong>Name</strong></label>
                    <div class="controls">
                        {{if entry.name && entry.name.en}}
                            <input type="text" id="form_name" class="input-block-level" name="name" value="{{>entry.name.en}}" placeholder="Name...">
                        {{else}}
                            <input type="text" id="form_name" class="input-block-level" name="name" placeholder="Name...">
                        {{/if}}
                    </div>
                </div>
                {{if entry.UIInfo && entry.UIInfo.Logo && entry.UIInfo.Logo}}
                    <img src="{{>entry.UIInfo.Logo[0].url}}" width="{{>entry.UIInfo.Logo[0].width}}" height="{{>entry.UIInfo.Logo[0].height}}">
                {{/if}}
            </form>

            <form id="samlForm" class="entryForm hide">
                <!-- <legend>SAML</legend> -->

                <div class="control-group">
                    <label class="control-label" for="form_entityId"><strong>Entity ID</strong></label>
                    <div class="controls">
                        <input type="text" id="form_entityId" class="input-block-level" name="entityid" value="{{>entry.entityid}}" placeholder="Entity ID...">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="form_AssertionConsumerService"><strong>AssertionConsumerService</strong></label>
                    <div class="controls">
                        <input type="text" id="form_AssertionConsumerService" class="input-block-level" name="AssertionConsumerService" value="{{>entry.AssertionConsumerService}}" placeholder="AssertionConsumerService...">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="form_NameIDFormat"><strong>NameIDFormat</strong></label>
                    <div class="controls">
                        <select id="form_NameIDFormat" class="input-block-level" name="NameIDFormat">
                        {{for entry.nameIDs}}
                            {{if enabled}}
                                <option value="{{>nameid}}" selected="selected">{{>nameid}}</option>
                            {{else}}
                                <option value="{{>nameid}}">{{>nameid}}</option>
                            {{/if}}
                        {{/for}}
                        </select>
                    </div>
                </div>
            </form>

            <form id="aclForm" class="entryForm hide">
            <p class="text-success">Select the identity providers that are allowed to access this service.</p>
                <fieldset>
                <!-- <legend>ACL</legend> -->
                    {{for entry.identityProviders}}
                        <label class="checkbox">
                        {{if consentdisable}}
                            <i alt="consent disabled" title="consent disabled" class="icon-user"></i>
                        {{/if}}
                        {{if enabled}}
                            <input type="checkbox" name="IDPList[]" checked="checked" value="{{>entityid}}">
                        {{else}}
                            <input type="checkbox" name="IDPList[]" value="{{>entityid}}">
                        {{/if}}
                        {{if name && name.en}}
			                {{if state === "prodaccepted"}}
                                <span title="{{>entityid}}">{{>name.en}}<br></span>
                            {{else}}
                                <span class="muted" title="{{>entityid}}">{{>name.en}}<br></span>
                            {{/if}}
                        {{else}}
			                {{if state === "prodaccepted"}}
                                <span title="{{>entityid}}">{{>entityid}}<br></span>
                            {{else}}
                                <span class="muted" title="{{>entityid}}">{{>entityid}}<br></span>
                            {{/if}}
                        {{/if}}
                        </label>
                    {{/for}}
                </fieldset>
            </form>

            <form id="arpForm" class="entryForm hide">
            <p class="text-success">Select the attributes the service is allowed to receive.</p>
                <fieldset>
                    <select name="arpType">
                    {{if false === entry.attributes}}
                        <option value="no_attributes">No Attributes</option>
                    {{else 0 === entry.attributes.length}}
                        <option value="no_arp">All Attributes (NO ARP!)</option>
                    {{else}}
                        <option value="arp">Some Attributes</option>
                    {{/if}}
                    </select>
                    {{if false !== entry.attributes && 0 !== entry.attributes.length}}                  
                        {{for entry.attributeList}}
                            <label class="checkbox">
                            {{if enabled}}
                                <input type="checkbox" name="attributes[]" checked="checked" value="{{>attribute}}">
                            {{else}}
                                <input type="checkbox" name="attributes[]" value="{{>attribute}}">
                            {{/if}}

                            {{if enabled && custom}}
                                <span class="text-error" title="{{>attribute}}">{{>attribute}}<br></span>
                            {{else enabled}}
                                <span class="text-info" title="{{>attribute}}">{{>attribute}}<br></span>
                            {{else}}
                                <span title="{{>attribute}}">{{>attribute}}<br></span>
                            {{/if}}
                            </label>
                        {{/for}}
                    {{/if}}
                </fieldset>
            </form>

            <form id="conextForm" class="entryForm hide">
                <fieldset>

                    <label class="checkbox">
                        {{if entry['consent.disable']}}
                            <input type="checkbox" name="disableConsent" checked="checked">
                        {{else}}
                            <input type="checkbox" name="disableConsent">                        
                        {{/if}}                    
                        <span>Consent for all IdPs disabled</span>
                    </label>
                    
                    <label class="checkbox">
                        {{if entry.coin && entry.coin.ss && entry.coin.ss.idp_visible_only}}
                            <input type="checkbox" name="idpVisibleOnly" checked="checked">
                        {{else}}
                            <input type="checkbox" name="idpVisibleOnly">                        
                        {{/if}}                    
                        <span>IdP Visible Only</span>
                    </label>
                                        
                    <label class="checkbox">
                        {{if entry.coin && entry.coin.additional_logging}}
                            <input type="checkbox" name="additionalLogging" checked="checked">
                        {{else}}
                            <input type="checkbox" name="additionalLogging">                        
                        {{/if}}                    
                        <span>Additional Logging</span>
                    </label>
                    
                    <label class="checkbox">
                        {{if entry.coin && entry.coin.publish_in_edugain}}
                            <input type="checkbox" name="publishInEdugain" checked="checked">
                        {{else}}
                            <input type="checkbox" name="publishInEdugain">                        
                        {{/if}}                    
                        <span>Publish in eduGAIN</span>
                    </label>

                </fieldset>            
            </form>

            <form id="advancedForm" class="entryForm hide">
                <fieldset>
                <!-- <legend>ACL</legend> -->
                    <textarea class="input-block-level" rows="10" id="jsonData" name="jsonData">{{>entry.jsonData}}</textarea>
                </fieldset>
            </form>

            <form id="logForm" class="entryForm hide">
                <ul>
                {{for logs.messages}}
                    <li>{{>level}}: {{>message}}</li>
                {{/for}}                    
                </ul>
            </form>


        </div>

        <div class="modal-footer">
            <a href="#" class="btn" data-toggle="modal" data-target="#entityViewModal">Close</a>
        </div>
    </script>

    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/jsrender/jsrender.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="config/config.js"></script>
    <script src="js/ssp.js"></script>
  </body>
</html>
